@layer base {
    table{
        @apply w-full
    }
    thead {
        @apply table-header-group;
    }

    tr {
        @apply max-w-full border-gray-100
        table-row border-b-0 dark:border-slate-800;
    }

    tr:last-child {
        @apply border-b-0;
    }

    td:not(:first-child) {
        @apply border-s border-t-0 border-e-0 border-b-0 border-gray-100 dark:border-slate-700;
    }

    th {
        @apply lg:text-start lg:p-3 px-2  ;
    }

    td {
        @apply justify-between text-start align-top border-b border-gray-100 gap-2 p-3
        lg:table-cell lg:text-start  dark:border-slate-800;
    }

    td:last-child {
        @apply border-b-0;
    }

    tbody tr, tbody tr:nth-child(odd) {
        @apply lg:hover:bg-gray-300 lg:dark:hover:bg-slate-700/70;
    }

    tbody tr:nth-child(odd) {
        @apply bg-gray-200 dark:bg-slate-800/50;
    }


    tr[draggable] {
        @apply cursor-move;
    }
}
